<mat-card class="example-card">
  <mat-card-content>
    <form class="example-container" [formGroup]="productForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" [(ngModel)]="product&&product.name">
      </mat-form-field>
      <mat-error *ngIf="productForm.controls['name'].errors &&
      productForm.controls['name'].errors.required && productForm.controls['name'].touched">
        Please enter name of product</mat-error>
      <mat-form-field>
        <textarea matInput rows="5" placeholder="Description" formControlName="description"
          [(ngModel)]="product&&product.description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="rate" formControlName="price" [(ngModel)]="product&&product.price">
      </mat-form-field>
      <mat-error *ngIf="productForm.controls['price'].errors &&
      productForm.controls['price'].errors.required && productForm.controls['price'].touched">
        Please enter rate of product</mat-error>
      <mat-error *ngIf="productForm.controls['price'].errors && !productForm.controls['price'].errors.required&&
            productForm.controls['price'].errors.message">
        {{productForm.controls['price'].errors.message}}
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="image" formControlName="image" [(ngModel)]="product&&product.image">
      </mat-form-field>
    </form>
    <button class="button-md mat-raised-button mat-accent" [disabled]="productForm.invalid"
      (click)="addOrUdateItem()">{{action === 'add'?'Add':'Update'}}</button>
    <button routerLink="/manage/product" routerLinkActive="router-link-active"
      class="button-md mat-raised-button mat-accent">Cancel</button>
    <!-- {{product?.name}} -->
  </mat-card-content>
</mat-card>