<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let product of products">
    <a class="title-link" style="height: 100% !important" [routerLink]="['/product',product.productId]"
      routerLinkActive="router-link-active">
      <mat-card class="example-card">
        <img mat-card-image src="{{product?.image}}" height="150" style="width: 100%" alt="{{product?.productName}}">
        <mat-card-content>
          <a class="title-link" [routerLink]="['/product',product.productId]" routerLinkActive="router-link-active"
            routerLinkActive="router-link-active">{{product.productName}}</a>
          <p title="" [matTooltip]="product.description">
            {{ product.description | slice: 0:40 }}{{product.productName && product.productName.length > 40 ? '...':''}}
          </p>
          Price : $<del *ngIf="product.discount" class="strike-price">{{product.productPrice}}</del>
          <span appDiscountedPrice>{{product.productPrice|discountCalculator:product.discount}}</span>
        </mat-card-content>
      </mat-card>
    </a>
  </mat-grid-tile>
  <ng-spinner [loading]="dataLoading"></ng-spinner>
</mat-grid-list>