<!-- <mat-card class="card-demo">
  <mat-card-title>User</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <mat-tab-group>

      <mat-tab label="Add" class="my-tab">
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="5" class="sec1">
          </div>
          <div fxFlex="100" style="margin: 1rem" class="sec2">
            <form class="example-container">
              <mat-form-field>
                <input matInput placeholder="User name">
              </mat-form-field>
              <mat-select placeholder="Role">
                <mat-option>None</mat-option>
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="user">User</mat-option>
              </mat-select>
              <mat-form-field>
                <input matInput placeholder="image">
              </mat-form-field>
            </form>
            <button class="button-md mat-raised-button mat-accent" (click)="addOrUpdateUser()">Add</button>
            <button class="button-md mat-raised-button mat-accent">Cancel</button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="View" class="my-tab">
        <!-- Form fields here 
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
  <mat-card-footer>
    <div class="hint"></div>
  </mat-card-footer>
</mat-card> -->
<h1>Welcome to angular-testing-with-material!</h1>