<mat-card class="example-card">
    <mat-card-content>
        <ng-spinner *ngIf="dataLoading" [loading]="dataLoading"></ng-spinner>
        <mat-form-field style="width:70%">
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="Please enter text you want to search">
        </mat-form-field>
        <a class="button-md mat-raised-button mat-accent" [routerLink]="['add']"
            routerLinkActive="router-link-active">Add new product</a>

        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let product"><img class="img-responsive" height="50" width="50"
                        src="{{product.image}}" /></mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
                <mat-cell *matCellDef="let product">
                    {{product.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Product Description </mat-header-cell>
                <mat-cell *matCellDef="let product" [matTooltip]="product.description">
                    {{ product.description | slice: 0:20 }}{{product.description && product.description.length > 20 ? '...':''}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
                <mat-cell *matCellDef="let product">
                    {{ product.price }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let product">
                    <a class="title-link" [routerLink]="['edit',product.id]" routerLinkActive="router-link-active">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="title-link" href="javascript:void(0)" (click)="deleteProduct(product.id)">
                        <mat-icon>delete_outline</mat-icon>
                    </a> </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="['image','name','description','rate','action']"></mat-header-row>
            <mat-row *matRowDef="let row; columns:['image','name','description','rate','action'];"></mat-row>
        </mat-table>
        <mat-paginator [length]="products?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </mat-card-content>
</mat-card>